<section>
  <div class="page-header">
    <h1>Blogs</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="blog in vm.blogs"
       data-ui-sref="blogs.view({ blogId: blog._id })"
       class="list-group-item">
      <posted-by></posted-by>

      <span ng-class="{gstatus: blog.status == 'approved', rstatus: blog.status != 'approved' }">{{blog.status}}</span>
      
      <h4 class="list-group-item-heading" data-ng-bind="blog.title"></h4>
      <p class="lead" ng-bind="blog.content | shorten"></p>

      <h4 class="list-group-item-heading" data-ng-bind="blog.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.blogs.$resolved && !vm.blogs.length">
    No Blogs yet, why don't you <a data-ui-sref="blogs.create">create one</a>?
  </div>
</section>
